.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  text-transform: uppercase;

  height: 40px;

  background-color: @green;
}

.button:hover,
.button:focus {
  background-color: @green--dark;
}

.button:active {
  background-color: @green--dark;
  color: rgba(255, 255, 255, 0.3);
}

.button--show {
  color: @gray;

  background-color: @gray--lightest;
}

.button--show:hover,
.button--show:focus {
  background-color: #ebebeb;
}

.button--show:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
