.card-product {
  display: flex;
  flex-direction: column;
}

.card-product__title {
  font-size: 16px;
  line-height: 16px;
  color: @gray--dark;
  font-weight: 400;
  text-transform: uppercase;

  margin-bottom: 10px;
  margin-top: 14px;
}

.card-product__text {
  font-family: @font-text;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  margin-bottom: 12px;
  width: 100%;
}

.card-product__info {
  text-align: end;
}

.card-product__button {
  flex-grow: 1;

  padding-top: 10px;
  margin-bottom: 18px;
}

@media (min-width: @tablet-width) {
  .card-product {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
  }

  .card-product__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    margin-bottom: 26px;
    margin-top: 0;
    margin-right: auto;
  }

  .card-product__text {
    width: auto;
  }

  .card-product__text td {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .card-product__button {
    width: 100%;
    margin-bottom: 27px;
  }

  .card-product__info {
    padding-left: 50px;
  }
}

@media (min-width: @desktop-width) {
  .card-product {
    justify-content: space-between;
    align-items: center;

    padding: 0;
  }

  .card-product__button {
    width: 27.5%;
    flex-grow: 0;

    margin: 15px 0 16px;
  }

  .card-product__text {
    width: 33.33%;

    margin-bottom: 0;
    margin-top: 7px;
  }

  .card-product__amount {
    width: 83%;
  }

  .card-product__info {
    text-align: left;
    padding-left: 0;
  }

  .card-product__title {
    margin: 0;
    width: 33.33%;
  }
}
