.card-item {
  display: flex;
  flex-wrap: wrap;

  padding: 0 20px;
  padding-bottom: 25px;
}

.card-item__image {
  width: 100%;
  display: block;
}

.card-item__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 50%;
}

.card-item__pic {
  width: 50%;
}

.card-item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;

  margin-top: 22px;
  margin-bottom: 12px;
  width: 80px;
}

.card-item__details {
  font-family: @font-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  width: 102%;
}

.card-item__details td {
  padding: 0;
}

.card-item__info {
  text-align: end;
}

.card-item__button {
  margin-top: auto;
  padding-top: 12px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .card-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 512px;

    padding: 0;
    padding-bottom: 39px;

    background-image: linear-gradient(@white 16%, @gray--lightest 16%);
  }

  .card-item__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    align-self: center;
    width: 145px;

    margin-top: 40px;
    margin-bottom: 17px;
  }

  .card-item__details {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    width: 100%;
    border-collapse: collapse;
  }

  .card-item__details tr {
    border-bottom: 1px solid @gray-1;
  }

  .card-item__details td {
    padding: 8px 0;
  }

  .card-item__pic {
    width: 100%;
  }

  .card-item__image {
    width: 100%;
  }

  .card-item__button {
    margin-bottom: 0;
    margin-top: 31px;
    margin-left: 36px;
    margin-right: 36px;

    width: auto;
  }

  .card-item__description {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: @desktop-width) {
  .card-item {
    justify-content: flex-end;
    width: 245px;
  }
}
