.card-item {
  display: flex;
  flex-wrap: wrap;
}

.card-item__image {
  width: 50%;
}

.card-item__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;

  padding-left: 5px;
}

.card-item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-item__details {
  font-family: @font-text;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  margin-bottom: 20px;
  width: 100%;
}

.card-item__info {
  text-align: end;
}

.card-item__button {
  flex-grow: 1;

  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .card-item {
    outline: @outline-green;

    display: flex;
    flex-direction: column;

    width: 324px;
    padding: 40px;

    background-color: @gray--lightest;
  }

  .card-item__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .card-item__details {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;

    margin-bottom: 20px;
    width: 100%;
  }

  .card-item__image {
    width: 100%;
  }

  .card-item__button {
    margin-bottom: 0;
  }

  .card-item__description {
    width: 100%;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .card-item {
    width: 245px;
    padding: 40px;

    background-color: @gray--lightest;
  }
}
