.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @gray--darkest;

  padding: 15px 0;
}

.catalog__list {
  .list-reset ();
}

.catalog__item {
  border: 1px solid @border-color-over;
  margin-bottom: -1px;
}

@media (max-width: @mobile-width-only) {
  .catalog__list {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__item {
    border: none;
    margin-bottom: 60px;

    width: 45%;
  }

  .catalog__item:nth-of-type(2n) {
    margin-left: auto;
  }

  .catalog__list {
    outline: @outline-red;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    margin: 0 auto;
    width: 94%;
  }

  .catalog__item:not(:nth-child(4n)) {
    margin-right: 80px;
  }

  .catalog__item {
    border: none;
    margin-bottom: 60px;

    width: 20%;
  }
}
