.container {
  margin: 0 auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .container {
    margin: 0 auto;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .container {
    margin: 0 auto;
    width: 1220px;
  }
}
