.container {
  margin: 0 auto;
  width: 87.5%;
}

@media (min-width: @tablet-width) {
  .container {
    width: 92%;        /* 708px / 768px ~= 92% */
  }
}

@media (min-width: @desktop-width) {
  .container {
    width: 1220px;
  }
}
