.cooperation {
  background-color: @gray--lightest;
}

.cooperation--index {
  background-color: @white;
}

.cooperation__legend {
  display: flex;
  justify-content: space-between;

  padding: 27px 0;
}

.cooperation__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: @gray--darkest;

  margin: 0;
  padding-right: 10px;
  width: 50%;
}

.cooperation__address {
  font-family: @font-text;
  font-size: 14px;
  line-height: 20px;

  margin: 0;
  width: 50%;
}

.cooperation__map {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  min-height: 363px;
}

.cooperation__map iframe {
  z-index: 1;
  width: 100%;

  border: none;
}

.cooperation__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 0;
  height: 363px;
}

@media (min-width: @tablet-width) {
  .cooperation__legend {
    padding: 54px 40px;
    padding-top: 63px;
  }

  .cooperation__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;

    width: 26%;
  }

  .cooperation__address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    width: 26%;
    text-align: right;
  }

  .cooperation__city {
    display: block;
    margin-top: 20px;
  }

  .cooperation__map {
    min-height: 392px;
    height: auto;
  }

  .cooperation__image {
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .cooperation {
    position: relative;
  }

  .cooperation__container {

    position: absolute;
    height: 50%;

    z-index: 2;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .cooperation__legend {
    width: 570px;
    height: 100%;
    background-color: @white;
    padding-left: 75px;
    padding-right: 89px;
    padding-top: 60px;
  }

  .cooperation__address {
    text-align: left;
    width: 38%;
  }
}
