.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 0;
}

.copyright__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;

  color: @gray;
  font-family: @font-text;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-image {
  margin-left: auto;
}

.copyright__logo {
  svg {
    fill: #666666;
  }

  &:hover svg {
    fill: @green;
  }

  &:active svg {
    fill: @green;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    min-width: 163px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    width: auto;

    padding: 17px 0;
  }
}
