.example {
  background-color: @gray--lightest;

  min-height: 707px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @gray--darkest;

  margin-bottom: 25px;
  margin-top: 20px;
  padding-top: 18px;
}

.example__text {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  color: @gray;

  margin-bottom: 25px;
}

.example__stats {
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  list-style: none;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  color: @gray--darkest;

  border: 1px solid @gray-1;
  border-radius: 3px;

  width: 44%;
}

.example__item:last-child {
  margin-left: auto;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;
  text-transform: uppercase;

  margin-top: 15px;
  margin-bottom: 7px;
}

.example__legend {
  font-family: @font-text;
  font-size: 12px;
  line-height: 12px;

  margin: 0;
  margin-top: auto;
  margin-bottom: -15px;
  max-width: 57%;
  padding: 0 5px;

  background-color: @gray--lightest;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  color: @gray--darkest;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 35px;
}

.example__toggle {
  font-family: @font-title;
  font-size: 16px;
  line-height: 20px;

  color: @gray--darkest;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  padding: 0;
}

.example__range {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 33px;
  padding-bottom: 35px;
}

.example__toggle--before {
  margin-left: auto;
}

.example__toggle--after {
  margin-right: auto;
}

.example__toggle-scale {
  position: relative;

  width: 84px;
  height: 14px;

  background-color: @white;
  border: 1px solid @gray-1;
  border-radius: 6px;

  margin: 0 18px;
}

.example__toggle-bar {
  position: absolute;
  width: 35px;
  height: 6px;

  top: 50%;
  left: 4px;
  transform: translateY(-50%);

  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: @green;
}

.example__image {
  position: relative;

  min-height: 240px;
}

.example__photo {
  position: absolute;
  display: block;

  left: 50%;
  top: 0;
  transform: translateX(-50%);
  max-width: none;
}

@media (max-width: @mobile-width-only) {
  .example__image--after {
    display: none;
  }

  .example__image {
    width: 100%;
  }
}

@media (min-width: @tablet-width) {
  .example {
    position: relative;

    background-color: @white;
    background-image: linear-gradient(90deg, @gray--lightest 50%, #eaeaea 50%);
    background-position: 0 100%;
    background-size: 100% 462px;
    background-repeat: no-repeat;

    border-top: 1px solid @gray-1;
  }

  .example__block {
    position: relative;
  }

  .example__info {
    display: flex;
    justify-content: space-between;

    margin-bottom: 55px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;

    margin-top: 25px;
    margin-bottom: 47px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 53px;
    width: 96%;
  }

  .example__value {
    font-size: 30px;
    line-height: 37.02px;

    margin-bottom: 12px;
  }

  .example__stats {
    width: 51.5%;
  }

  .example__legend {
    font-size: 14px;
    line-height: 14px;

    width: auto;
    max-width: none;
    background-color: @white;
    margin-bottom: -8px;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;

    width: 25%;
    margin-top: 0;
    text-align: end;
  }

  .example__text-price {
    display: block;
    padding-top: 12px;
  }

  .example__price {
    display: block;
    padding-top: 10px;
  }

  .example__column {
    display: flex;
    flex-direction: column;

    position: relative;
  }

  .example__toggle {
    font-size: 20px;

    padding-bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
  }

  .example__range {
    padding-top: 18px;
    padding-bottom: 68px;
  }

  .example__toggle-scale {
    width: 61%;
    height: 7px;

    background-color: #dcdcdc;
    border: none;

    margin: 0 20px;
  }

  .example__toggle-bar {
    width: 34px;
    height: 34px;

    top: 50%;
    left: 51%;
    transform: translate(-50%, -51%);

    border-radius: 50%;

    background-color: @white;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      position: absolute;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: @green;
    }
  }

  .example__toggle-bar:hover,
  .example__toggle-bar:focus {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  .example__toggle-bar:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    border: 2px solid @green;
  }

  .example__image {
    min-height: 517px;

    width: 354px;
    overflow: hidden;
  }

  .example__image-block {
    position: relative;

    left: -8px;
  }

  .example__photo {
    position: absolute;
    display: block;
  }

  .example__photo--before {
    transform: translateX(0);
    left: 4%;

    z-index: 2;
  }

  .example__photo--after {
    transform: translateX(0);
    right: 0;
    left: auto;

    z-index: 2;
  }

  .example__image--after {
    position: absolute;

    top: 0;
    background-image: linear-gradient(to bottom, @white 32.5%, #eaeaea 32.5%);
    z-index: 1;
    right: calc(50% - 360px);
  }

  .example__image--before {
    left: calc(50% - 345px);
  }
}

@media (min-width: @desktop-width) {
  .example {
    min-height: 600px;

    display: flex;

    background-image: linear-gradient(90deg, @gray--lightest 90%, #eaeaea 90%);
    background-size: 100% 71%;
    border-top: none;
    margin-top: 25px;
  }

  .example__image {
    height: 100%;
  }

  .example__image--before {
    width: 380px;
  }

  .example__image--after {
    width: 325px;

    background-image: linear-gradient(to bottom, @white 29%, #eaeaea 29%);
  }

  .example__image-block {
    left: 5px;
    height: 100%;
  }

  .example__block {
    display: flex;

    width: 1220px;
    margin: 0 auto;
  }

  .example__column {
    width: 46.7%;
    margin: 0;
  }

  .example__column-image {
    position: relative;
    width: 53.3%;
  }

  .example__legend {
    background-color: @gray--lightest;
  }

  .example__info {
    display: flex;
    flex-direction: column;

    margin-bottom: 38px;
  }

  .example__title {
    margin-bottom: 75px;
    padding: 0;
    margin-top: 55px;
  }

  .example__text {
    margin-bottom: 70px;
    margin-top: 68px;

    width: 76%;
  }

  .example__stats {
    width: 64%;
    margin-bottom: 50px;
  }

  .example__total {
    width: 66%;

    display: flex;
    justify-content: space-between;
    margin-right: 175px;
    text-align: left;
  }

  .example__text-price {
    width: 50%;
  }

  .example__price {
    width: 50%;
    text-align: center;
  }

  .example__range {
    position: absolute;
    bottom: 68px;
    right: 0;
    width: 88%;
    padding: 0;

    z-index: 2;
  }

  .example__toggle-scale {
    width: 75%;
    margin: 0;
  }

  .example__toggle {
    margin: 0;
  }
}
