.example {
  outline: @outline-red;

  background-color: @gray--lightest;
}

.example__block {
  outline: @outline-green;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @gray--darkest;
}

.example__text {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
}

.example__stats {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.example__item {
  position: relative;

  text-align: center;
  color: @gray--darkest;

  border: 1px solid @gray-1;
  border-radius: 3px;

  padding: 15px 0;
  width: 45%;
}

.example__item:last-child {
  margin-left: auto;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;
  text-transform: uppercase;
}

.example__legend {
  font-family: @font-text;
  font-size: 12px;
  line-height: 12px;

  // временно, пока не найду лучшее решение
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;

  background-color: @gray--lightest;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  color: @gray--darkest;
  text-transform: uppercase;
  text-align: center;
}

.example__toggle {
  font-family: @font-title;
  font-size: 16px;
  line-height: 20px;

  color: @gray--darkest;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .example {
    position: relative;
    background-color: @white;
  }

  .example::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    min-height: 461px;
    width: 100%;
    background-image: linear-gradient(to right, @gray--lightest 50%, #eaeaea 50%);
  }

  .example__block {
    position: relative;
  }

  .example__info {
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 40px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__legend {
    font-size: 14px;
    line-height: 14px;

    min-width: 145px;
    background-color: @white;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;

    width: 25%;
    text-align: end;
  }

  .example__stats {
    width: 52.5%;
  }

  .example__item {
    width: 45%;
  }

  .example__column {
    display: flex;
    flex-direction: column;
  }

  .example__range {
    margin-top: auto;
    margin-bottom: 60px;

    align-self: center;
  }

  .example__photo {
    display: block;
    width: 690px;
  }
}

@media (min-width: @desktop-width) {
  .example {
    min-height: 620px;

    display: flex;
  }

  .example::before {
    background-image: linear-gradient(to right, @gray--lightest 73%, #eaeaea 50%);
  }

  .example__block {
    display: flex;
  }

  .example__column {
    width: 50%;
  }

  .example__legend {
    background-color: @gray--lightest;
  }

  .example__info {
    display: flex;
    flex-direction: column;

    margin-bottom: 70px;
  }

  .example__title {
    margin-bottom: 30px;
  }

  .example__text {
    padding-right: 175px;
    margin-bottom: 65px;
    margin-top: 70px;
  }

  .example__stats {
    width: 60%;
    margin-bottom: 55px;
  }

  .example__total {
    width: 60%;

    display: flex;
    justify-content: space-between;
    margin-right: 175px;
    text-align: left;
  }

  .example__text-price {
    width: 50%;
  }

  .example__price {
    width: 50%;
    text-align: center;
  }
}
