.example {
  background-color: @gray--lightest;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  color: @gray--darkest;
}

.example__text {
  font-family: @font-text;
  font-size: 14px;
  line-height: 18px;
  color: @gray;
}

.example__stats {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.example__item {
  text-align: center;
  color: @gray--darkest;
  // flex-grow: 1;
}

.example__item:last-child {
  margin-left: auto;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;
  text-transform: uppercase;
}

.example__legend {
  font-family: @font-text;
  font-size: 12px;
  line-height: 12px;
  color: @gray;
}

.example__total {
  font-size: 14px;
  line-height: 20px;
  color: @gray--darkest;
  text-transform: uppercase;
  text-align: center;
}

.example__toggle {
  font-family: @font-title;
  font-size: 16px;
  line-height: 20px;

  color: @gray--darkest;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  padding: 0;
}
