.extra-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;
  margin: 0;
  padding: 30px 0;

  border-bottom: 1px solid @gray;
}

.extra-products__list {
  padding: 0;

  list-style: none;
}

.extra-products__item {
  border-bottom: 1px solid @border-color-extra;
}
