.extra-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;

  margin: 0;
  padding: 32px 0;

  border-bottom: 1px solid @gray-1;
}

.extra-products__list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;

  list-style: none;
}

.extra-products__item {
  border-bottom: 1px solid @gray-1;
}

@media (min-width: @tablet-width) {
  .extra-products__title {
    font-size: 36px;
    line-height: 36px;

    padding: 0;
    margin-left: 35px;
    margin-bottom: 51px;
    margin-top: 5px;
    border-bottom: none;
  }

  .extra-products__item {
    padding: 0 35px;

    border: 1px solid @gray-50;
  }
}

@media (min-width: @desktop-width) {
  .extra-products {
    display: flex;
    flex-wrap: wrap;
  }

  .extra-products__title {
    width: 100%;

    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 48px;
  }

  .extra-products__card {
    min-height: 70px;
  }

  .extra-products__item {
    padding: 0;

    border: none;
    border-bottom: 1px solid @gray-1;
    margin-bottom: -1px;
  }

  .extra-products__list {
    width: 73.4%;
    margin: 0;

    margin-bottom: 95px;
  }

  .extra-products__item:first-child {
    border-top: 1px solid @gray-1;
  }
}
