.features__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @gray--darkest;

  margin-top: 0;
  margin-bottom: 28px;
}

.features__list {
  .list-reset ();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  position: relative;
  margin-bottom: 27px;
  font-family: @font-text;

  padding-left: 80px;
  min-height: 50px;
}

.features__item--nutrients {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

.features__item--ease {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/advantage-powder@1x.png");
  }
}

.features__item--diet {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/advantage-dining@1x.png");
  }
}

.features__item--fast {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.features__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: @gray--darkest;

    margin-top: 15px;
    margin-bottom: 28px;
  }

  .features__list {
    counter-reset: myCounter;

    .list-reset ();

    margin-bottom: 12px;
  }

  .features__item {
    font-size: 16px;
    line-height: 24px;

    width: 46%;
    margin: 45px 0;
    padding-bottom: 45px;
    padding-left: 0;

    &::after {
      position: absolute;
      top: -40px;
      left: 117px;
      z-index: -1;

      counter-increment: myCounter;
      content: counter(myCounter);
      font-family: "Oswald", "Arial Narrow", sans-serif;
      color: #f2f2f2;
      display: inline-block;

      font-size: 281.07px;
      line-height: 281.07px;
      text-align: right;
    }
  }

  .features__item--nutrients {
    &::before {
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
    }
  }

  .features__item--ease {
    &::before {
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
    }
  }

  .features__item--diet {
    &::before {
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
    }
  }

  .features__item--fast {
    &::before {
      top: 0;
      left: 0;

      width: 80px;
      height: 80px;
    }
  }

  .features__text {
    width: 76%;
    padding-top: 110px;
  }
}

@media (min-width: @desktop-width) {
  .features__item {
    width: 20.2%;
    min-height: 230px;

    margin-bottom: 0;
  }

  .features__title {
    margin-top: 43px;
    margin-bottom: 27px;
  }

  .features__text {
    width: 100%;
    padding-top: 111px;
  }

  .features__list {
    justify-content: flex-start;
  }

  .features__item:not(:nth-child(4n)) {
    margin-right: 78px;
  }
}
