.form {
  display: flex;
  flex-direction: column;
}

.form__info {
  position: relative;

  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;

  padding: 9px 0;
}

.form__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @gray--darkest;

  margin: 0;
  margin-bottom: 32px;
  margin-left: -30px;
  padding-left: 28px;
  padding-right: 24px;

  display: inline-block;
  background-color: #ffffff;
  width: fit-content;
}

.form__legend--add {
  margin-bottom: 35px;
}

.form__label {
  position: relative;
  display: flex;
  align-items: baseline;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @gray--dark;
  text-transform: uppercase;
  white-space: nowrap;
}

.form__input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: @font-title;
  text-transform: uppercase;

  margin-bottom: 14px;
  margin-left: 15px;
  padding-left: 14px;

  border: 1px solid @gray-50;
  flex-shrink: 1;
  flex-basis: 100%;
  height: 45px;

  &:focus {
    border: 1px solid @gray;
  }

  &:active {
    border: 2px solid @gray;
  }

  &:focus:invalid {
    border: 2px solid @color-error;
  }

  &:focus:invalid + .form__icon-email,
  &:focus:invalid + .form__icon-phone {
    fill: @color-error;
  }

  &:active + .form__icon-email,
  &:active + .form__icon-phone {
    fill: @green;
  }
}

.form__input::placeholder {
  color: @gray;
  opacity: 1;

  line-height: 30px;
  vertical-align: center;
}

.form__textarea::placeholder {
  font-family: @font-title;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @gray;
  opacity: 1;
  text-transform: uppercase;
}

.form__input--email,
.form__input--phone {
  margin-left: 10px;
  padding-left: 15px;
}

.form__textarea {
  font-family: @font-title;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;

  padding: 14px;
  margin-bottom: 10px;

  border: 1px solid @gray-50;
  white-space: nowrap;
  width: 100%;
  min-height: 150px;
}

.form__input--weight,
.form__input--age {
  appearance: textfield;
}

.form__info--border {
  border: 1px solid @border-color-over;

  padding: 20px;
  padding-bottom: 27px;
  margin: 0;
  margin-bottom: 20px;

  width: 100%;
}

.form__button {
  font-family: @font-title;

  border: none;

  width: 100%;
  margin-bottom: 20px;
}

.form__label--radio:not(:last-child) {
  margin-bottom: 18px;
}

.form__input--radio,
.form__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__label--radio {
  position: relative;
  cursor: pointer;

  padding-left: 45px;
  padding-top: 7px;
}

.form__indicator {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid @gray-1;
}

.form__indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;

  display: none;

  width: 12px;
  height: 12px;
  background-color: @green;
  border-radius: 50%;
}

.form__indicator:hover,
.form__indicator:focus,
.form__indicator-check:hover,
.form__indicator-check:focus {
  border: 1px solid #bababa;
}

.form__indicator:active,
.form__indicator-check:active {
  opacity: 0.3;
}

.form__input--radio:checked + .form__indicator::after {
  display: block;
}

.form__input--radio:hover + .form__indicator,
.form__input--radio:focus + .form__indicator {
  border: 1px solid #bababa;
}

.form__input--radio:active + .form__indicator,
.form__input--radio:active + .form__indicator::after {
  opacity: 0.3;
}

.form__label--checkbox {
  position: relative;
  cursor: pointer;

  padding-left: 45px;
  margin-bottom: 12px;
  min-height: 30px;

  text-align: center;
  padding-top: 7px;
}

.form__indicator-check {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 29px;
  height: 29px;

  border: 1px solid @gray-1;
}

.form__indicator-check::after {
  content: "";
  position: absolute;
  display: none;

  width: 20px;
  height: 15px;
  top: 6px;
  left: 4px;

  background-image: url("../img/i-tick.svg");
}

.form__input--checkbox:checked + .form__indicator-check::after {
  display: block;
}

.form__input--checkbox:checked:hover + .form__indicator-check,
.form__input--checkbox:focus + .form__indicator-check {
  border: 1px solid #bababa;
}

.form__input--checkbox:active + .form__indicator-check,
.form__input--checkbox:active + .form__indicator-check::after {
  opacity: 0.3;
}

.form__info--contacts {
  margin: 0;
  padding-bottom: 7px;
}

.form__info--comment {
  margin: 0;
  padding-bottom: 11px;
}

.form__wrapper::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  background-color: @green;
  width: 100%;
  height: 3px;
  z-index: -1;
}

.form__icon-email {
  position: absolute;

  width: 18px;
  height: 13px;

  top: 17px;
  right: 15px;

  cursor: pointer;
}

.form__icon-phone {
  position: absolute;

  width: 20px;
  height: 20px;

  top: 14px;
  right: 14px;

  cursor: pointer;
}

.form__button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 15px;
}

.form__obligatory {
  font-family: @font-text;
  font-size: 14px;
  line-height: 16px;

  margin-bottom: 32px;
}

@media (max-width: @mobile-width-only) {
  .form__legend--contacts {
    white-space: pre-wrap;
  }
}

@media (min-width: @tablet-width) {
  .form__container-about {
    padding: 10px 40px;
    padding-bottom: 0;
    margin-bottom: 70px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;

    margin-left: -43px;
    margin-bottom: 76px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__label--about {
    padding-left: 4px;
  }

  .form__info--about {
    margin-bottom: 43px;
  }

  .form__info--border {
    padding: 30px 35px;
    margin: 0 auto;
    width: 92%;
  }

  .form__label--radio {
    padding-top: 5px;
    padding-left: 55px;
  }

  .form__label--radio:not(:last-child) {
    margin-bottom: 27px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

    min-height: 175px;

    padding: 9px 17px;
    margin-bottom: 46px;
  }

  .form__input::placeholder {
    line-height: 50px;
  }

  .form__info--add {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .form__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    margin-top: 10px;
    margin-bottom: 51px;
  }

  .form__button {
    font-size: 20px;
    line-height: 20px;

    width: 45%;
    height: 52px;
  }

  .form__label--checkbox {
    width: 45%;

    padding-left: 56px;
    margin-bottom: 43px;
  }

  .form__obligatory {
    font-size: 16px;
    line-height: 16px;

    width: 45%;

    margin-bottom: 25px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;

    margin-bottom: 20px;
    margin-left: 17px;
    padding-left: 18px;

    height: 52px;
  }

  .form__input--phone {
    padding-left: 15px;
  }

  .form__input--email {
    padding-left: 22px;
    margin-left: 17px;
  }

  .form__indicator {
    transform: scale(1.3);
  }

  .form__wrapper {
    padding: 0 40px;
  }

  .form__wrapper::before {
    top: 30px;
    left: 0;
  }

  .form__icon-email {
    top: 20px;
  }

  .form__icon-phone {
    top: 17px;
  }

  .form__block {
    margin-bottom: 28px;
  }

  .form__textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }

  .form__legend--add {
    flex-grow: 1;

    margin-bottom: 55px;
  }

  .form__container-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__indicator-check {
    width: 40px;
    height: 40px;
  }

  .form__indicator-check::after {
    width: 20px;
    height: 15px;
    top: 10px;
    left: 9px;
  }

  .form__info--contacts {
    padding-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 0;
  }

  .form__info {
    padding: 0;
  }

  .form__info--about {
    width: 46.7%;
    margin: 0;
  }

  .form__info--border {
    width: 46.7%;
    margin: 0;

    padding: 30px;
  }

  .form__container-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;

    width: 94%;
    max-width: 1220px;
  }

  .form__info--contacts {
    width: 100%;
  }

  .form__wrapper {
    padding: 0;
  }

  .form__label--email,
  .form__label--contacts {
    width: 46.7%;
    margin: 0;
  }

  .form__block {
    display: flex;
    justify-content: space-between;

    margin-bottom: 47px;
  }

  .form__label--checkbox {
    width: 20%;

    margin-bottom: 60px;
  }

  .form__button {
    width: 46.5%;
  }

  .form__obligatory {
    width: 46.5%;
  }

  .form__button-container {
    padding: 0;
    margin-bottom: 61px;
  }

  .form__input--age {
    margin-bottom: 0;
  }

  .form__label--about {
    padding-left: 0;
  }

  .form__label--radio {
    padding-left: 55px;
  }

  .form__label--radio:not(:last-child) {
    margin-bottom: 28px;
  }

  .form__wrapper::before {
    top: 21px;
    left: 0;
  }

  .form__legend {
    margin-left: -40px;
    margin-bottom: 75px;
    padding-left: 40px;
  }

  .form__icon-email {
    right: 20px;
  }

  .form__icon-phone {
    right: 20px;
  }

  .form__info--comment {
    width: 100%;
  }

  .form__textarea {
    padding: 10px 18px;
    margin-bottom: 67px;
  }

  .form__info--add {
    width: 100%;
  }

  .form__legend--add {
    margin-bottom: 58px;
  }
}
