.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

  min-height: 291px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  margin-top: 40px;
  margin-bottom: 35px;
}

.gift__text {
  font-family: @font-text;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;

  width: 170px;
  margin-top: 0;
}

.gift__image {
  width: 58px;
  height: 60px;

  margin-top: 37px;
}

@media (min-width: @tablet-width) {
  .gift {
    flex-direction: row;
    justify-content: space-between;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
  }

  .gift__text {
    padding-top: 20px;

    text-align: left;
    margin-right: 16%;
  }

  .gift__image {
    width: 58px;
    height: 61px;

    margin-left: 12.5%;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .gift {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
  }
}
