.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

  min-height: 290px;
}

.gift__text {
  font-family: @font-text;
  color: @white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;

  padding-top: 190px;
}
