.intro-block {
  outline: @outline-red;

  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-position: 50% 80%, top;
  background-repeat: no-repeat, no-repeat;
  // background-size: 222px auto, auto 307px;
}

.intro-block__title {
  color: @white;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}

.intro-block__text {
  color: @white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  text-transform: uppercase;
}

.intro-block__button {
  font-size: 14px;
  line-height: 18px;

  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 20px;
}

.intro-block__container {
  outline: @outline-green;

  display: flex;
  flex-direction: column;

  min-height: 482px;
}

@media (min-width: @tablet-width) {
  .intro-block {
    height: 800px;
  }

  .intro-block__container {
    width: 487px;
    min-height: 282px;
    margin-left: 120px;
  }

  .intro-block__title {
    color: @gray--darkest;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro-block__text {
    color: @gray--darkest;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro-block__button {
    width: 243px;
  }
}

@media (min-width: @desktop-width) {
  .intro-block {
    height: 560px;
  }

  .intro-block__container {
    width: 487px;
    min-height: 282px;
    margin-left: 190px;
  }

  .intro-block__title {
    color: @gray--darkest;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .intro-block__text {
    color: @gray--darkest;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .intro-block__button {
    width: 243px;
  }
}
