.page-footer {
  outline: @outline-red;

  background-color: @gray--lightest;
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__logo {
  align-self: center;
  margin: 40px 0;
}

@media (min-width: @tablet-width) {
  .page-footer__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    outline: @outline-green;
  }

  .page-footer__social {
    outline: @outline-green;
  }

  .page-footer__copyright {
    outline: @outline-green;
  }
}
