.page-header {
  outline: @outline-red;
  font-family: @font-title;
}

.main-nav__list {
  list-style: none;
  text-align: center;

  padding: 0;
  margin: 0;
}

.page-header__block {
  display: flex;
  align-items: center;

  border-bottom: 1px solid @border-color;
}

.page-header__toggle {
  margin-left: auto;

  width: 20px;
  height: 20px;
}
