.page-footer {
  background-color: @gray--lightest;
}

.page-footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__logo {
  align-self: center;
  margin-top: 36px;
  margin-bottom: 30px;
}

.page-footer__logo:hover,
.page-footer__logo:focus {
  opacity: 0.8;
}

.page-footer__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-footer__info {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 27px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    width: 19%;
  }

  .page-footer__social {
    width: 22%;
  }

  .page-footer__copyright {
    width: 23%;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__info {
    padding-top: 33px;
  }
}
