.page-header {
  outline: @outline-red;

  font-family: @font-title;

  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__block {
  outline: @outline-green;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid @border-color;
}

.page-header__toggle {
  width: 24px;
  height: 18px;

  background-color: transparent;
  border: none;

  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    width: 708px;
  }

  .page-header__logo-image {
    outline: @outline-green;
    height: 64px;
    width: 177px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;

    margin: 0 auto;
    width: 1220px;
  }

  .page-header__block {
    min-height: 115px;
  }

  .page-header__logo-image {
    height: 70px;
  }

  .page-header--index::after {
    content: url("../img/index-background-desktop@1x.jpg");
    position: absolute;

    width: 50%;
    height: 100%;
    top: 0;
    right: 0;

    z-index: -1;
  }
}
