.programs-card {
  outline: @outline-green;

  background-color: @gray--lightest;
  padding: 20px;
}

.programs-card__title,
.programs-card__link {
  color: @gray--darkest;
  text-transform: uppercase;
}

.programs-card__title {
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 300;

  margin: 0;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.programs-card__link {
  font-size: 16px;
  line-height: 16px;
}

.programs-card__text {
  font-family: @font-text;

  padding: 0;
  padding-bottom: 20px;

  border-bottom: 2px solid @border-color;
}

@media (min-width: @tablet-width) {
  .programs-card {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .programs-card {
    width: 570px;
  }
}
