.programs__list {
  display: flex;
  flex-direction: column;

  .list-reset ();
  // padding: 0 20px;
  margin: 0 auto;
  // padding-top: 7px;
}

.programs__item {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .programs__item {
    margin-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .programs__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 54px;
  }
}
