.programs-card {
  background-color: @gray--lightest;
  padding: 20px;

  min-height: 265px;
}

.programs-card__title,
.programs-card__link {
  color: @gray--darkest;
  text-transform: uppercase;
}

.programs-card__title {
  position: relative;
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 300;

  margin: 0;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 32px;
}

.programs-card__title--slimming {
  &::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -60px;

    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -70px;

    width: 50px;
    height: 50px;

    background-color: @green;
    border-radius: 50%;
  }
}

.programs-card__title--mass {
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -80px;

    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -70px;

    width: 50px;
    height: 50px;

    background-color: @green;
    border-radius: 50%;
  }
}

.programs-card__link {
  position: relative;

  font-size: 16px;
  line-height: 16px;

  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 95px;

    width: 24px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

.programs-card__text {
  font-family: @font-text;

  padding: 0;
  padding-bottom: 22px;
  margin-bottom: 19px;

  border-bottom: 1px solid @border-color;
}

@media (min-width: @tablet-width) {
  .programs-card {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 372px;
    padding-left: 52px;
  }

  .programs-card__title {
    font-size: 36px;

    margin-left: 0;
    margin-top: 60px;
    margin-bottom: 23px;
  }

  .programs-card__title--slimming {
    &::after {
      top: 10%;
      left: 66.5%;

      width: 140px;
      height: 195px;
    }

    &::before {
      content: "";
      top: 43%;
      left: 62%;

      width: 200px;
      height: 200px;
    }
  }

  .programs-card__title--mass {
    &::after {
      top: 150%;
      left: 56.5%;

      width: 269px;
      height: 114px;
    }

    &::before {
      top: 43%;
      left: 62%;

      width: 200px;
      height: 200px;
    }
  }

  .programs-card__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    width: 59%;
    margin-top: 0;

    border: none;
  }

  .programs-card__text--mass {
    width: 54%;
  }

  .programs-card__link {
    font-size: 20px;
    line-height: 20px;

    margin-top: 15px;

    &::after {
      top: 5px;
      left: 129px;

      width: 25px;
      height: 11px;
    }
  }
}

@media (min-width: @desktop-width) {
  .programs-card {
    width: 570px;
    padding-right: 50px;
  }

  .programs-card__title {
    padding-left: 162px;
    margin-bottom: 72px;
  }

  .programs-card__text--mass,
  .programs-card__text {
    width: 100%;
    margin-bottom: 0;
  }

  .programs-card__link {
    margin-top: 9px;
  }

  .programs-card__title--slimming {
    &::after {
      top: -100%;
      left: 3%;

      width: 75px;
      height: 95px;
    }

    &::before {
      top: -85%;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }

  .programs-card__title--mass {
    &::after {
      top: -25%;
      left: -4%;


      width: 137px;
      height: 60px;
    }

    &::before {
      top: -85%;
      left: 0;

      width: 100px;
      height: 100px;
    }
  }
}
