body {
  font-family: @font-title;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @gray;

  margin: 0;
  padding: 0;
}

html,
body {
  width: 320px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: @gray--darkest;
}

img {
  max-width: 100%;
  height: auto;
}
