@white: #ffffff;
@green: #68b738;
@gray--lightest: #f2f2f2;
@gray--darkest: #111111;
@gray--dark: #222222;
@gray: #444444;
@gray-10: rgba(34, 34, 34, 0.1);
@gray-50: rgba(205, 205, 205, 0.5);
@gray-1: rgba(205, 205, 205, 1);
@gray--light: #ededed;
@border-color: @gray-10;
@border-color-over: @gray--light;

@font-title: "Oswald", "Arial", sans-serif;
@font-text: "Arial", "Helvetica", sans-serif;

@width-mobile: 320px;
@mobile-width-only: 767px;

@tablet-width: 768px;
@desktop-width: 1300px;

@outline-red: 2px solid red;
@outline-green: 2px solid green;
