@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  padding: 0;
}
html,
body {
  min-width: 320px;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #111111;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  width: 87.5%;
}
@media (min-width: 768px) {
  .container {
    width: 92%;
    /* 708px / 768px ~= 92% */
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-header {
  font-family: "Oswald", "Arial", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
@media (max-width: 767px) {
  .page-header {
    margin: 0;
    width: 100%;
  }
  .page-header__toggle {
    width: 24px;
    height: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
  }
  .page-header--open .page-header__toggle {
    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
  }
  .page-header--nojs .page-header__toggle {
    display: none;
  }
  .page-header--nojs .page-header__nav {
    display: block;
  }
  .page-header--open .page-header__nav {
    display: none;
  }
  .page-header--close .page-header__nav {
    display: block;
  }
}
@media (min-width: 768px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 23px;
  }
  .page-header__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    border-bottom: none;
  }
  .page-header__logo-image {
    height: 64px;
    width: 173px;
  }
  .page-header__toggle {
    display: none;
  }
}
@media (min-width: 1300px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 28px;
    padding-bottom: 0;
  }
  .page-header__block {
    min-height: 115px;
  }
  .page-header__logo-image {
    height: 60px;
    width: 201px;
  }
  .page-header--bgcat::after {
    content: url("../img/index-background-desktop@1x.jpg");
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .page-header--bgcat::after {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
.main-nav__list {
  position: relative;
  text-align: center;
  padding: 0;
  list-style: none;
  margin: 0;
}
.main-nav__item {
  list-style: none;
  text-align: center;
  padding: 22px 0;
  margin: 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
}
.main-nav__item a {
  color: #111111;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .main-nav {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding-left: 50px;
  }
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-nav__item a {
    font-size: 18px;
    line-height: 24.86px;
    font-weight: 400;
    color: #222222;
  }
  .main-nav__item {
    padding: 0;
    border-bottom: none;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 35px;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 2px;
    background: #68b738;
  }
}
@media (min-width: 1300px) {
  .main-nav {
    max-width: 50%;
  }
  .main-nav--index a {
    color: #ffffff;
  }
  .main-nav__item--active::after {
    background: #68b738;
  }
  .main-nav__item--active-index::after {
    background: #ffffff;
  }
  .main-nav__item a {
    font-size: 20px;
  }
  .main-nav__item:not(:last-child) {
    margin-right: 35px;
  }
}
.button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  height: 40px;
  background-color: #68b738;
}
.button--show {
  color: #444444;
  background-color: #f2f2f2;
}
.page-footer {
  background-color: #f2f2f2;
}
.page-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__logo {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 38px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .page-footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 23px;
    padding-bottom: 30px;
  }
  .page-footer__logo {
    width: 19%;
  }
  .page-footer__social {
    width: 22%;
  }
  .page-footer__copyright {
    width: 23%;
  }
}
@media (min-width: 1300px) {
  .page-footer__info {
    padding-top: 30px;
  }
}
.cooperation {
  background-color: #f2f2f2;
}
.cooperation--bgwhite {
  background-color: #ffffff;
}
.cooperation__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 0 26px;
}
.cooperation__title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #111111;
  margin: 0;
  padding-right: 10px;
  width: 50%;
}
.cooperation__address {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  width: 50%;
}
.cooperation__map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 363px;
}
.cooperation__iframe {
  z-index: 1;
  width: 100%;
  border: none;
}
.cooperation__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 363px;
}
@media (min-width: 768px) {
  .cooperation__legend {
    padding: 57px 40px;
    padding-top: 65px;
  }
  .cooperation__title {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    width: 26%;
  }
  .cooperation__address {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    width: 26%;
    text-align: right;
  }
  .cooperation__city {
    display: block;
    margin-top: 20px;
  }
  .cooperation__image {
    height: 397px;
  }
  .cooperation__map {
    min-height: 398px;
  }
}
@media (min-width: 1300px) {
  .cooperation {
    position: relative;
    padding-top: 97px;
    padding-bottom: 100px;
  }
  .cooperation__legend {
    width: 570px;
    height: 100%;
    background-color: #ffffff;
    padding-left: 75px;
    padding-right: 89px;
    padding-top: 62px;
  }
  .cooperation__address {
    text-align: left;
    width: 38%;
  }
  .cooperation__image {
    height: 100%;
  }
  .cooperation__iframe {
    height: 100%;
  }
  .cooperation__map {
    position: absolute;
    min-height: 400px;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  .cooperation__container {
    position: relative;
    z-index: 1;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  border-top: 1px solid rgba(34, 34, 34, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 61px;
  padding-left: 52px;
  margin: 0 auto;
}
.social__item {
  margin-top: 23px;
  margin-bottom: 18px;
}
.social__button {
  display: block;
}
@media (min-width: 768px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__list {
    border: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
  }
  .social__vk {
    width: 30px;
    height: 19px;
  }
  .social__inst {
    width: 24px;
    height: 23px;
  }
  .social__fb {
    width: 14px;
    height: 28px;
  }
  .social__button {
    display: block;
  }
  .social__item {
    margin-left: 15px;
  }
}
@media (min-width: 1300px) {
  .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .social__item {
    margin-left: 28px;
  }
}
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}
.copyright__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #444444;
  font-family: "Arial", "Helvetica", sans-serif;
}
.copyright__logo-image {
  margin-left: auto;
}
@media (min-width: 768px) {
  .copyright {
    min-width: 163px;
  }
}
@media (min-width: 1300px) {
  .copyright {
    width: auto;
    padding: 17px 0;
  }
}
.intro-block {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 60.5%;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .intro-block {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}
.intro-block__title {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 10px;
  white-space: pre-wrap;
}
.intro-block__text {
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 15px;
}
.intro-block__button {
  font-size: 14px;
  line-height: 18px;
  margin-top: auto;
  padding-top: 11px;
  margin-bottom: 21px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.intro-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 495px;
}
.intro-block__image {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 768px) {
  .intro-block {
    background-image: none;
  }
  .intro-block__container {
    padding-left: 87px;
  }
  .intro-block__title {
    color: #111111;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .intro-block__text {
    color: #111111;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-top: 20px;
  }
  .intro-block__image {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: -102px;
    margin-left: -92px;
  }
  .intro-block__button {
    font-size: 20px;
    line-height: 20px;
    width: 245px;
    z-index: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    min-height: 52px;
    padding-top: 15px;
    margin-top: 20px;
  }
}
@media (min-width: 1300px) {
  .intro-block__container {
    padding-top: 0;
    padding-left: 80px;
    position: relative;
  }
  .intro-block {
    margin-bottom: 139px;
  }
  .intro-block__title {
    width: 415px;
    margin-top: 80px;
  }
  .intro-block__text {
    width: 415px;
  }
  .intro-block__image {
    margin-top: 0;
    height: 500px;
    position: absolute;
    top: 0;
    right: 215px;
  }
  .intro-block__button {
    padding-top: 15px;
    margin-top: 22px;
  }
}
.programs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
}
.programs__item {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programs__item {
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .programs__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 54px;
  }
}
.programs-card {
  position: relative;
  background-color: #f2f2f2;
  padding: 20px;
  min-height: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.programs-card__title,
.programs-card__link {
  color: #111111;
  text-transform: uppercase;
}
.programs-card__title {
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 300;
  margin: 0;
  padding-left: 70px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.programs-card--slimming::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 28px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}
.programs-card--slimming::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
.programs-card--mass::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}
.programs-card--mass::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
.programs-card__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  display: block;
  padding-top: 19px;
  border-top: 1px solid rgba(34, 34, 34, 0.1);
}
.programs-card__link::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 95px;
  width: 24px;
  height: 11px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
.programs-card__text {
  font-family: "Arial", "Helvetica", sans-serif;
  padding: 0;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .programs-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-height: 372px;
    padding-left: 52px;
    padding-top: 15px;
  }
  .programs-card__title {
    font-size: 36px;
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 23px;
  }
  .programs-card--slimming::after {
    top: 21%;
    left: 67%;
    width: 140px;
    height: 195px;
  }
  .programs-card--slimming::before {
    content: "";
    top: 24%;
    left: 63%;
    width: 200px;
    height: 200px;
  }
  .programs-card--mass::after {
    top: 36%;
    left: 58%;
    width: 269px;
    height: 114px;
  }
  .programs-card--mass::before {
    top: 24%;
    left: 63%;
    width: 200px;
    height: 200px;
  }
  .programs-card__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 59%;
    margin-top: 0;
  }
  .programs-card__text--mass {
    width: 54%;
  }
  .programs-card__link {
    font-size: 20px;
    line-height: 20px;
    margin-top: 15px;
    border: none;
  }
  .programs-card__link::after {
    top: 22px;
    left: 129px;
    width: 25px;
    height: 11px;
  }
}
@media (min-width: 1300px) {
  .programs-card {
    width: 570px;
    padding-right: 50px;
    padding-top: 17px;
  }
  .programs-card__title {
    padding-left: 162px;
    margin-bottom: 72px;
    margin-top: 58px;
  }
  .programs-card__text {
    width: 100%;
    margin-bottom: 0;
  }
  .programs-card--slimming::after {
    top: 11%;
    left: 11.5%;
    width: 77px;
    height: 97px;
  }
  .programs-card--slimming::before {
    top: 12%;
    left: 9%;
    width: 100px;
    height: 100px;
  }
  .programs-card--mass::after {
    top: 18%;
    left: 6%;
    width: 134px;
    height: 60px;
  }
  .programs-card--mass::before {
    top: 12%;
    left: 9%;
    width: 100px;
    height: 100px;
  }
  .programs-card__link::after {
    top: 25px;
  }
}
.features__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-top: 0;
  margin-bottom: 28px;
}
.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.features__item {
  position: relative;
  margin-bottom: 27px;
  font-family: "Arial", "Helvetica", sans-serif;
  padding-left: 80px;
  min-height: 50px;
}
.features__item--nutrients::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-leaf@1x.png");
}
.features__item--ease::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-powder@1x.png");
}
.features__item--diet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-dining@1x.png");
}
.features__item--fast::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../img/advantage-clock@1x.png");
}
.features__text {
  margin: 0;
}
@media (min-width: 768px) {
  .features__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #111111;
    margin-top: 15px;
    margin-bottom: 28px;
  }
  .features__list {
    counter-reset: myCounter;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 12px;
  }
  .features__item {
    font-size: 16px;
    line-height: 24px;
    width: 46%;
    margin: 45px 0;
    padding-bottom: 45px;
    padding-left: 0;
  }
  .features__item::after {
    position: absolute;
    top: -40px;
    left: 117px;
    z-index: -1;
    counter-increment: myCounter;
    content: counter(myCounter);
    font-family: "Oswald", "Arial Narrow", sans-serif;
    color: #f2f2f2;
    display: inline-block;
    font-size: 281.07px;
    line-height: 281.07px;
    text-align: right;
  }
  .features__item--nutrients::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
  .features__item--ease::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
  .features__item--diet::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
  .features__item--fast::before {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
  }
  .features__text {
    width: 76%;
    padding-top: 110px;
  }
}
@media (min-width: 1300px) {
  .features__item {
    width: 20.2%;
    min-height: 230px;
    margin-bottom: 0;
  }
  .features__title {
    margin-top: 43px;
    margin-bottom: 27px;
  }
  .features__text {
    width: 100%;
    padding-top: 111px;
  }
  .features__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .features__item:not(:nth-child(4n)) {
    margin-right: 78px;
  }
}
.catalog__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  padding: 16px 0;
  padding-bottom: 28px;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.catalog__item {
  border: 1px solid #ededed;
  margin-bottom: -1px;
}
@media (max-width: 767px) {
  .catalog__list {
    width: 100%;
  }
  .catalog {
    margin-bottom: 1px;
  }
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 30px;
    margin-bottom: 60px;
  }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    margin-bottom: 65px;
    width: 45.5%;
  }
  .catalog__item:nth-of-type(2n) {
    margin-left: auto;
  }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}
@media (min-width: 1300px) {
  .catalog__title {
    padding-top: 45px;
    margin-bottom: 58px;
  }
  .catalog__item:not(:nth-child(4n)) {
    margin-right: 80px;
  }
  .catalog__item {
    margin-bottom: 67px;
    width: 20%;
  }
}
.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  width: 100%;
}
.card-item__image {
  width: 100%;
  display: block;
}
.card-item__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}
.catalog-item__pic {
  width: 50%;
}
.card-item__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 10px;
  width: 80px;
}
.card-item__details {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 100%;
}
.card-item__info {
  text-align: end;
}
.card-item__button {
  margin-top: auto;
  padding-top: 10px;
  margin-bottom: 24px;
  width: 100%;
}
@media (min-width: 768px) {
  .card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 506px;
    padding: 0;
    padding-bottom: 38px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #ffffff), color-stop(15%, #f2f2f2));
    background-image: linear-gradient(#ffffff 15%, #f2f2f2 15%);
  }
  .card-item__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 145px;
    margin-top: 36px;
  }
  .card-item__details {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 7px;
    width: 100%;
    border-collapse: collapse;
  }
  .card-item__details tr {
    border-bottom: 1px solid #cdcdcd;
  }
  .card-item__details td {
    padding: 8px 0;
  }
  .catalog-item__pic {
    width: 100%;
  }
  .card-item__image {
    width: 100%;
  }
  .card-item__button {
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 36px;
    margin-right: 36px;
    width: auto;
  }
  .card-item__description {
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
  }
}
@media (min-width: 1300px) {
  .card-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 245px;
  }
}
.show-more {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.show-more::before {
  content: url("../img/icon-plus.svg");
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 30px;
  height: 30px;
  opacity: 0.2;
}
.show-more__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 0;
}
.show-more__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  color: #444444;
  text-align: center;
  margin-top: 8px;
}
.show-more__button {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .show-more {
    border: 1px solid rgba(205, 205, 205, 0.5);
    width: 100%;
    padding: 0 35px;
    padding-bottom: 12px;
    min-height: 85%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .show-more::before {
    top: 55px;
    left: 50%;
    width: 60px;
    height: 60px;
  }
  .show-more__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    margin-top: 165px;
    margin-bottom: 20px;
  }
  .show-more__text {
    font-size: 16px;
    line-height: 18px;
  }
  .show-more__button {
    margin-top: auto;
  }
}
@media (min-width: 1300px) {
  .show-more {
    width: 100%;
    min-width: 100%;
  }
}
.example {
  background-color: #f2f2f2;
  min-height: 707px;
}
.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 25px;
  margin-top: 20px;
  padding-top: 18px;
}
.example__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 25px;
}
.example__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  list-style: none;
}
.example__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #111111;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 44%;
}
.example__item:last-child {
  margin-left: auto;
}
.example__value {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 7px;
}
.example__legend {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-top: auto;
  margin-bottom: -15px;
  max-width: 57%;
  padding: 0 5px;
  background-color: #f2f2f2;
}
.example__total {
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
.example__toggle {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
}
.example__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 35px;
}
.example__toggle--before {
  margin-left: auto;
}
.example__toggle--after {
  margin-right: auto;
}
.example__toggle-scale {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  margin: 0 18px;
}
.example__toggle-bar {
  position: absolute;
  width: 35px;
  height: 6px;
  top: 50%;
  left: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  background-color: #68b738;
}
.example__image {
  position: relative;
  min-height: 240px;
}
.example__photo {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: none;
}
@media (max-width: 767px) {
  .example__image--after {
    display: none;
  }
  .example__image {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .example {
    position: relative;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f2f2f2), color-stop(50%, #eaeaea));
    background-image: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%);
    background-position: 0 100%;
    background-size: 100% 462px;
    background-repeat: no-repeat;
    border-top: 1px solid #cdcdcd;
  }
  .example__block {
    position: relative;
  }
  .example__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 25px;
    margin-bottom: 47px;
  }
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    width: 96%;
  }
  .example__value {
    font-size: 30px;
    line-height: 37.02px;
    margin-bottom: 12px;
  }
  .example__stats {
    width: 51.5%;
  }
  .example__legend {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    max-width: none;
    background-color: #ffffff;
    margin-bottom: -8px;
  }
  .example__total {
    font-size: 20px;
    line-height: 20px;
    width: 25%;
    margin-top: 0;
    text-align: end;
  }
  .example__text-price {
    display: block;
    padding-top: 12px;
  }
  .example__price {
    display: block;
    padding-top: 10px;
  }
  .example__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .example__toggle {
    font-size: 20px;
    padding-bottom: 6px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
  }
  .example__range {
    padding-top: 18px;
    padding-bottom: 68px;
  }
  .example__toggle-scale {
    width: 61%;
    height: 7px;
    background-color: #dcdcdc;
    border: none;
    margin: 0 20px;
  }
  .example__toggle-bar {
    width: 35px;
    height: 35px;
    top: 50%;
    left: 51%;
    -webkit-transform: translate(-50%, -51%);
            transform: translate(-50%, -51%);
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
  .example__toggle-bar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #68b738;
  }
  .example__image {
    min-height: 517px;
    width: 354px;
    overflow: hidden;
  }
  .example__image-block {
    position: relative;
    left: -8px;
  }
  .example__photo {
    position: absolute;
    display: block;
  }
  .example__photo--before {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 4%;
    z-index: 2;
  }
  .example__photo--after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    right: 0;
    left: auto;
    z-index: 2;
  }
  .example__image--after {
    position: absolute;
    top: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(32.5%, #ffffff), color-stop(32.5%, #eaeaea));
    background-image: linear-gradient(to bottom, #ffffff 32.5%, #eaeaea 32.5%);
    z-index: 1;
    right: calc(50% - 360px);
  }
  .example__image--before {
    left: calc(50% - 345px);
  }
}
@media (min-width: 1300px) {
  .example {
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(90%, #f2f2f2), color-stop(90%, #eaeaea));
    background-image: linear-gradient(90deg, #f2f2f2 90%, #eaeaea 90%);
    background-size: 100% 70.8%;
    border-top: none;
    margin-top: 25px;
  }
  .example__image {
    height: 100%;
  }
  .example__image--before {
    width: 380px;
  }
  .example__image--after {
    width: 325px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(29.2%, #ffffff), color-stop(29.2%, #eaeaea));
    background-image: linear-gradient(to bottom, #ffffff 29.2%, #eaeaea 29.2%);
  }
  .example__image-block {
    left: 5px;
    height: 100%;
  }
  .example__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1220px;
    margin: 0 auto;
  }
  .example__column {
    width: 46.7%;
    margin: 0;
  }
  .example__column-image {
    position: relative;
    width: 53.3%;
  }
  .example__legend {
    background-color: #f2f2f2;
  }
  .example__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 38px;
  }
  .example__title {
    margin-bottom: 75px;
    padding: 0;
    margin-top: 55px;
  }
  .example__text {
    margin-bottom: 70px;
    margin-top: 68px;
    width: 76%;
  }
  .example__stats {
    width: 64%;
    margin-bottom: 50px;
  }
  .example__total {
    width: 66%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 175px;
    text-align: left;
  }
  .example__text-price {
    width: 50%;
  }
  .example__price {
    width: 50%;
    text-align: center;
  }
  .example__range {
    position: absolute;
    bottom: 69px;
    right: 0;
    width: 87%;
    padding: 0;
    z-index: 2;
  }
  .example__toggle-scale {
    width: 100%;
  }
  .example__toggle {
    margin: 0;
  }
  .example__toggle-bar {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.extra-products {
  position: relative;
}
.extra-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 31px 0;
  margin-left: -40px;
  padding-left: 38px;
  padding-right: 23px;
  display: inline-block;
  background-color: #ffffff;
}
.extra-products__list {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}
.extra-products__item {
  border-bottom: 1px solid #cdcdcd;
}
.extra-products__item:first-child {
  border-top: 1px solid #cdcdcd;
}
.extra-products__wrapper::before {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  background-color: #68b738;
  width: 100%;
  height: 3px;
  z-index: -1;
}
@media (min-width: 768px) {
  .extra-products__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 80px;
    margin-top: 5px;
    padding: 0 36px;
    border-bottom: none;
  }
  .extra-products__item {
    padding: 0 35px;
    border: 1px solid rgba(205, 205, 205, 0.5);
    margin-bottom: -1px;
  }
  .extra-products__wrapper::before {
    top: 27px;
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .extra-products__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .extra-products__title {
    margin-left: -40px;
    margin-top: 12px;
    margin-bottom: 80px;
    padding: 0 38px;
  }
  .extra-products__wrapper::before {
    top: 33px;
  }
  .extra-products__item {
    padding: 0;
    border: none;
    border-bottom: 1px solid #cdcdcd;
  }
  .extra-products__list {
    width: 73.4%;
    margin: 0;
    margin-bottom: 85px;
  }
  .extra-products__item:first-child {
    border-top: 1px solid #cdcdcd;
  }
}
.card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card-product__title {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 14px;
}
.card-product__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  width: 100%;
}
.card-product__info {
  text-align: end;
}
.card-product__button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 10px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .card-product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 25px;
  }
  .card-product__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 26px;
    margin-top: 0;
    margin-right: auto;
  }
  .card-product__text {
    width: auto;
  }
  .card-product__text td {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }
  .card-product__button {
    width: 100%;
    margin-bottom: 26px;
  }
  .card-product__info {
    padding-left: 50px;
  }
}
@media (min-width: 1300px) {
  .card-product {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .card-product__button {
    width: 27.5%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin: 15px 0 16px;
  }
  .card-product__text {
    width: 33.33%;
    margin-bottom: 0;
    margin-top: 7px;
  }
  .card-product__amount {
    width: 83%;
  }
  .card-product__info {
    text-align: left;
    padding-left: 0;
  }
  .card-product__title {
    margin: 0;
    width: 33.33%;
  }
}
.gift {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
  margin-bottom: 35px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}
.gift__text {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  width: 170px;
}
.gift__image {
  width: 58px;
  height: 60px;
  margin-top: 65px;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .gift {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
  }
  .gift__text {
    text-align: left;
    margin-right: 16%;
  }
  .gift__image {
    width: 58px;
    height: 61px;
    margin-left: 12.5%;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-tablet@2x.jpg");
  }
}
@media (min-width: 1300px) {
  .gift {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    width: 245px;
    margin: 0;
  }
  .gift__image {
    margin-left: 0;
    margin-top: 64px;
  }
  .gift__text {
    text-align: center;
    margin: 0;
    margin-top: 14px;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .gift {
    background-image: url("../img/gift-photo-desktop@2x.jpg");
  }
}
.selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.selection__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
  margin: 0;
  padding: 16px 0;
}
.selection__headline {
  margin-bottom: 20px;
}
.selection__text {
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  white-space: pre-wrap;
}
@media (min-width: 768px) {
  .selection__headline {
    margin-bottom: 37px;
    margin-top: 0;
  }
  .selection__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .selection__text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    padding-left: 40px;
  }
}
@media (min-width: 1300px) {
  .selection__title {
    padding-top: 45px;
  }
  .selection__text {
    padding-left: 0;
  }
  .selection__headline {
    margin-bottom: 56px;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: transparent;
  border: none;
  padding: 9px 0;
}
.form__legend {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  margin-bottom: 32px;
  margin-left: -30px;
  padding-left: 28px;
  padding-right: 40px;
  display: inline-block;
  background-color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.form__legend--add {
  margin-bottom: 35px;
}
.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  white-space: nowrap;
}
.form__input {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-left: 14px;
  padding-left: 15px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 45px;
}
.form__input::-webkit-input-placeholder {
  color: #444444;
  opacity: 1;
}
.form__input::-moz-placeholder {
  color: #444444;
  opacity: 1;
}
.form__input:-ms-input-placeholder {
  color: #444444;
  opacity: 1;
}
.form__input::-ms-input-placeholder {
  color: #444444;
  opacity: 1;
}
.form__input::placeholder {
  color: #444444;
  opacity: 1;
}
.form__textarea::-webkit-input-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  opacity: 1;
  text-transform: uppercase;
}
.form__textarea::-moz-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  opacity: 1;
  text-transform: uppercase;
}
.form__textarea:-ms-input-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  opacity: 1;
  text-transform: uppercase;
}
.form__textarea::-ms-input-placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  opacity: 1;
  text-transform: uppercase;
}
.form__textarea::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  opacity: 1;
  text-transform: uppercase;
}
.form__textarea {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(205, 205, 205, 0.5);
  white-space: nowrap;
  width: 100%;
  min-height: 150px;
}
.form__input--weight,
.form__input--age {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.form__input--phone,
.form__input--email {
  padding-left: 10px;
}
.form__info--border {
  border: 1px solid #ededed;
  padding: 20px;
  padding-bottom: 27px;
  margin: 0;
  margin-bottom: 20px;
  width: 100%;
}
.form__button {
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}
.form__label--radio:not(:last-child) {
  margin-bottom: 18px;
}
.form__input--radio,
.form__input--checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.form__label--radio {
  position: relative;
  cursor: pointer;
  padding-left: 45px;
  padding-top: 7px;
}
.form__indicator {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
}
.form__indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}
.form__input--radio:checked + .form__indicator::after {
  display: block;
}
.form__input--radio:hover + .form__indicator,
.form__input--radio:focus + .form__indicator {
  border: 1px solid #bababa;
}
.form__input--radio:active + .form__indicator,
.form__input--radio:active + .form__indicator::after {
  opacity: 0.3;
}
.form__label--checkbox {
  position: relative;
  cursor: pointer;
  padding-left: 45px;
  margin-bottom: 12px;
  min-height: 30px;
  text-align: center;
  padding-top: 7px;
}
.form__indicator-check {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 1px solid #cdcdcd;
}
.form__indicator-check::after {
  content: "";
  position: absolute;
  display: none;
  width: 20px;
  height: 15px;
  top: 6px;
  left: 4px;
  background-image: url("../img/icon-tick.svg");
}
.form__input--checkbox:checked + .form__indicator-check::after {
  display: block;
}
.form__input--checkbox:checked:hover + .form__indicator-check,
.form__input--checkbox:focus + .form__indicator-check {
  border: 1px solid #bababa;
}
.form__input--checkbox:active + .form__indicator-check,
.form__input--checkbox:active + .form__indicator-check::after {
  opacity: 0.3;
}
.form__info--contacts {
  margin: 0;
}
.form__wrapper::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 0;
  background-color: #68b738;
  width: 100%;
  height: 3px;
  z-index: -1;
}
.form__icon-email {
  position: absolute;
  width: 18px;
  height: 13px;
  top: 17px;
  right: 15px;
  cursor: pointer;
}
.form__icon-phone {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 14px;
  right: 14px;
  cursor: pointer;
}
.form__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.form__obligatory {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .form__legend--contacts {
    white-space: pre-wrap;
  }
}
@media (min-width: 768px) {
  .form__container-about {
    padding: 10px 40px;
    padding-bottom: 0;
    margin-bottom: 70px;
  }
  .form__legend {
    font-size: 36px;
    line-height: 36px;
    margin-left: -41px;
    margin-bottom: 76px;
    padding-left: 40px;
  }
  .form__label {
    font-size: 20px;
    line-height: 20px;
  }
  .form__label--about {
    padding-left: 4px;
  }
  .form__info--about {
    margin-bottom: 43px;
  }
  .form__info--border {
    padding: 30px 35px;
    margin: 0 auto;
    width: 92%;
  }
  .form__label--radio {
    padding-top: 5px;
    padding-left: 55px;
  }
  .form__label--radio:not(:last-child) {
    margin-bottom: 27px;
  }
  .form__textarea {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    min-height: 175px;
    padding: 10px 15px;
    margin-bottom: 46px;
  }
  .form__info--add {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 40px;
    margin-top: 10px;
    margin-bottom: 51px;
  }
  .form__button {
    font-size: 20px;
    line-height: 20px;
    width: 45%;
    height: 52px;
  }
  .form__label--checkbox {
    width: 45%;
    padding-left: 56px;
    margin-bottom: 43px;
  }
  .form__obligatory {
    font-size: 16px;
    line-height: 16px;
    width: 45%;
    margin-bottom: 25px;
  }
  .form__input {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
    padding-left: 18px;
    height: 52px;
  }
  .form__input--phone {
    padding-left: 15px;
  }
  .form__input--email {
    padding-left: 22px;
    margin-left: 17px;
  }
  .form__indicator {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .form__wrapper {
    padding: 0 40px;
  }
  .form__wrapper::before {
    top: 33px;
    left: 0;
  }
  .form__icon-email {
    top: 20px;
  }
  .form__icon-phone {
    top: 17px;
  }
  .form__block {
    margin-bottom: 28px;
  }
  .form__textarea::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .form__textarea::-moz-placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .form__textarea:-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .form__textarea::-ms-input-placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .form__textarea::placeholder {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }
  .form__legend--add {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 58px;
  }
  .form__container-add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__indicator-check {
    width: 40px;
    height: 40px;
  }
  .form__indicator-check::after {
    width: 20px;
    height: 15px;
    top: 10px;
    left: 9px;
  }
}
@media (min-width: 1300px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
  }
  .form__info {
    padding: 0;
  }
  .form__info--about {
    width: 46.7%;
    margin: 0;
  }
  .form__info--border {
    width: 46.7%;
    margin: 0;
    padding: 30px;
  }
  .form__container-about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0;
    width: 94%;
    max-width: 1220px;
  }
  .form__info--contacts {
    width: 100%;
  }
  .form__wrapper {
    padding: 0;
  }
  .form__label--email,
  .form__label--contacts {
    width: 46.7%;
    margin: 0;
  }
  .form__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 47px;
  }
  .form__label--checkbox {
    width: 20%;
    margin-bottom: 60px;
  }
  .form__button {
    width: 46.5%;
  }
  .form__obligatory {
    width: 46.5%;
  }
  .form__button-container {
    padding: 0;
    margin-bottom: 61px;
  }
  .form__input--age {
    margin-bottom: 0;
  }
  .form__label--about {
    padding-left: 0;
  }
  .form__label--radio {
    padding-left: 55px;
  }
  .form__label--radio:not(:last-child) {
    margin-bottom: 28px;
  }
  .form__wrapper::before {
    top: 21px;
    left: 0;
  }
  .form__legend {
    margin-left: -40px;
    margin-bottom: 75px;
    padding-left: 40px;
  }
  .form__icon-email {
    right: 20px;
  }
  .form__icon-phone {
    right: 20px;
  }
  .form__info--comment {
    width: 100%;
  }
  .form__textarea {
    padding: 10px 18px;
    margin-bottom: 67px;
  }
  .form__info--add {
    width: 100%;
  }
  .form__legend--add {
    margin-bottom: 58px;
  }
}

/*# sourceMappingURL=style.css.map */
